   body{
       font-family: 'Montserrat', sans-serif;
       margin-right: auto;
       margin-left: auto;
       margin-bottom: -8px;
       margin-top: -8px;
   }

   #container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFFFFF;
        padding-bottom: 50px;
    }

   h1{
	   text-align: center;
       color: rgb(13,80,87);
       font-family: 'Montserrat', sans-serif;
  	}

    h2{
        color: rgb(13,80,87);
        font-family: 'Montserrat', sans-serif;
    }

    h3{
        text-align: center;
        background-color: yellow;
        width: 200px;
        color: black;
        font-family: 'Montserrat', sans-serif;

    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-family: 'Montserrat', sans-serif;
    }

    li {
        float: left;
        color:gray;
    }

    li a {
        display: block;
        color: gray;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        color: black;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
    }

      button{
        border-radius: 2px;
        border-width: 1px;
        background-color: transparent; 
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }


    a:link{
        text-decoration: none;
    }

        #banner{
        width: 100%;
        height: 620px;
        padding-top: 60px;
        text-align: center;
        color: white;
    }

    #bannerleftalign{
        width: 80%;
        height: 80px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10px;
        color: white;
        text-align: right;
        background-color: #134248;
        display: inline;
        float: left;
        vertical-align: text-bottom;
    }

    #bannerleftalign h1{
        color: white;
        font-weight: 200;
        font-size: 35px;
        text-align: right;
    }

    #bannerleftalign img{
        padding-top: 8px;
    }

    #banner h1{
        color: white;

    }

    #banner h2{
        color: white;
        opacity: 80%;
        font-weight: 200;
        font-size: 18px;
    }

    .answer{
        width: 300px;
        text-align: center;
        background-color: #F8F8F8;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border-radius: 3px;
        padding-top: 10px;
        padding-left: auto;
        padding-right: auto;
    }

    .answer h2{
        text-align: center;
    }

    #time{
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        text-align: right;
    }

    #worked{
        color: rgb(255,255,255);
        text-align: right;
    }

    #logo{
        margin-left: auto;
        margin-right: auto;
    }
    #background: {
        z-index: -1;
    }

    #backgrounddark{
        background-color: #134248;
        padding: 50px;
        margin-bottom: -20px;
    }

    #experience{
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        color: white;
        margin: auto;
        display: block;
        text-decoration: none;
        font-weight: 200;
        border: white 2px solid;
    }

    #experience:hover{
        color: black;
        background-color:#8ce1dc;
        transition: background-color 0.5s ease-in-out;
    }

    #experiencebegin{
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #134248; 
        color: white;
        text-align: center;
        margin-left: 40%;
    }

    #experiencebegin:hover{
        color: #134248;
        background-color:white;
        transition: background-color 0.5s ease-in-out;
    }

    #backgroundimage{
        height: auto;
       left: 0;
       margin: 0;
       height: 700px;
       width: 100%;
       padding: 0;
       position: absolute;
       top: 0;
       z-index: -1;

    }

    .homepagebigdiv{
        width: 90%;
        text-align: center;
        padding-bottom: 20px;
        margin-left: 5%;
        margin-right: 1%;
        margin-top: 20px;
        border-radius: 3px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;
    }

    .homepagediv{
        width: 28%;
        text-align: center;
        float: left;
        margin-top: 35px;
        background-color: #F8F8F8;
        padding-bottom: 20px;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 3px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .homepagedivleft{
        width: 28%;
        text-align: left;
        float: left;
        margin-top: 35px;
        background-color: #F8F8F8;
        padding-bottom: 20px;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 3px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .homepagedivimage{
        width: 58%;
        text-align: center;
        float: left;
        margin-top: 35px;
        background-color: #F8F8F8;
        padding-bottom: 20px;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 3px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .homepageheader{
        text-align: center;
        width: 100%;
        font-size: 40px;

    }

    .redbox{
        text-align: center;
        width: 70%;
        font-size: 24px;
        border: 5px solid #B21C1C;
        margin-left: 15%;
        color: white;
        padding: 10px;
    }

    .redboxsmall{
        text-align: center;
        width: 100%;
        font-size: 18px;
        border: 2px solid gray;
        padding: 10px;
    }

    #audioPlayer{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 120px;
    }


    .nowPlay{
        margin-right: auto;
        margin-left: auto;
    }

    #info{
        width: 440px;
        margin: auto;
        text-align: center;

    }

	

    #bannerleft {
        float: left;
        display: block-inline;
    }

     #bannerright {
        float: right;
        display: block-inline;
        text-align: right;
    }

    .navbar{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
        background-color: #F8F8F8;
        padding-bottom: 10px;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 3px;
        padding-top: 10px;
        border-bottom: 4px solid #6DC7D0;
    }

  .footer{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
        background-color: #F8F8F8;
        padding-bottom: 10px;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 3px;
        padding-top: 10px;
        border-bottom: 4px solid #6DC7D0;
    }

	#first {
        width: 200px;
        float: left;
        height: 300px;
        background-color: rgb(173,216,230);
        margin: 10px;
	}
	#second {
        width: 200px;
        float: left;
        height: 300px;
        background-color: rgb(233,116,230);
        margin: 10px;
	}

    #third {
        width: 800px;
        float: left;
        height: 300px;
        background-color: rgb(133,216,230);
        margin: 10px;
    }
    #item_list{
        width: 200px;
        float: left;
        height: 200px;
        background-color: rgb(211,211,211);
        margin: 10px;

    }

    #logo{
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .gallery {
    clear: both;
    display: inline-block;
    width: 100%;
    background-color: #FFFFFF;
    /* [disabled]min-width: 400px;
*/
    padding-bottom: 35px;
    padding-top: 0px;
    margin-top: -5px;
    margin-bottom: 0px;
}
.thumbnail {
    width: 23%;
    text-align: center;
    float: left;
    margin-top: 35px;
    background-color: #F8F8F8;
    padding-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 3px;
    padding-top: 20px;
    /*border-bottom: 4px solid #6DC7D0;*/
}
.gallery .thumbnail h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #52BAD5;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
.thumbnail h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.gallery .thumbnail p {
    margin: 0;
    color: #B3B3B3;
    text-align: left;
    padding-left: 20px;
}

.gallery .thumbnail .tag {
    color: #5D5E5D;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.cards {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 200px;
    opacity: 0.8;
}